@model app.Models.Usuario

@{
    Layout = null;
    if (Session["usuarioId"] == null)
    {
        Response.Redirect("~/IniciarSesion/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Bienvenido</h1>
        <h3>Usuario : @Session["nombreus"].ToString()</h3>
        <a href="@Url.Action("LogOut","IniciarSesion")">Cerrar sesión</a>
    </div>
</body>
</html>
